* {
    margin: 0;
    padding: 10px;
    font-size: 20px;
    font-family: 'Comfortaa';

}

body {
    /* width: 960 px; */
    background-color: hsla(300, 2%, 42%, 0.75);

}

header { 
    background-color: #942E74;
    outline: 3px solid #FBF9DA;
    height: 80px;

}


h1 {
    color: #FBF9DA;
    font-size: 38px;
    font-family: 'Pacifico';
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 22px;
    margin-bottom: 22px;
    float: left;
    width: 60%;
    text-align: center;

}

header a {
    color: #FBF9DA;

}

footer {
    height: 40px;
    background-color: #942E74;
    font-size: 25px;
    text-align: center;
    outline: 3px solid #FBF9DA;

} 


p {
    color: #FBF9DA;
}


section {
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
    border: 10px solid #942E74;
    width: 60%; 
    box-shadow: 2px 2px 5px #333333;

}

h2 {
    text-align: center;
    width: 60%;
    font-size: 25px;
    color: #FBF9DA;


}

main h2 {
    margin: 20px;

}


aside {
    width: 30%;
    /* float: right; */

}

article {
    background-color: #942E74;
    color: #FBF9DA;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #333333;

}

/* main {
    width: 60%;

} */
/* 
.left {
    float: left;
} */
