* {
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Comfortaa';

}

body {
    width: 960 px;
    background-color: hsla(300, 2%, 42%, 0.75);

}

header { 
    background-color: #942E74;
    outline: 3px solid #CA7CB2;
    height: 80px;

}


h1 {
    color: #FBF9DA;
    font-size: 38px;
    font-family: 'Pacifico';
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 22px;
    margin-bottom: 22px;
    float: left;
    width: 60%;
    text-align: center;

}

header a {
    color: #FBF9DA;

}

footer {
    height: 40px;
    background-color: #942E74;
    font-size: 25px;
    text-align: center;
    outline: 3px solid #CA7CB2;
    clear: both;

} 


p {
    color: #FBF9DA;

}


section {
    box-sizing: border-box;
    padding: 15px;
    border: 10px solid #942E74;
    width: 100%; 
    box-shadow: 2px 2px 5px #333333;
    margin-bottom: 70px;

}

h2 {
    text-align: center;
    width: 100%;
    font-size: 25px;
    color: #FBF9DA;
    font-variant: small-caps;
    font-weight: bold;

}

h4 {
    font-size: 30px;
    font-family: 'Pacifico';

}

main h2 {
    margin: 20px;

}


aside {
    width: 40%;
    float: right;

}

article {
    background-color: #942E74;
    color: #FBF9DA;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #333333;
    margin: 38px;

}

.left {
    float: left;
    width: 60%;

}


li {
    padding: 7px;

}

.shows img {
    position: absolute;
    top: 200px;
    right: 30px;

}

.music img {
    position: absolute;
    top: 640px;
    right: 30px;
}


/* conscripted code courtesy of stackoverflow user: jmore009;
@ https://stackoverflow.com/questions/27809922/in-html-how-can-you-make-an-image-appear-while-you-are-hovering-over-text */

img{
    display: none

}

span:hover + img{
    display: block;

}

/* Coded with complete and utter help of Michael at https://codepen.io/mpazco/pen/IbiHL */

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.wrapper{
  /* width: 325px;
  height: 50px; */
  position: absolute;
  top: 7%;
  right: 3%;
  margin-left: -162px;
  margin-top: -25px;
}

.icon{
  display: inline-block;
  position: relative;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.47em;
  line-height: 2em;
  background-color: #dedede;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 3px 0px 0px #bdbdbd;
  /* -webkit-transition:background-color 250ms ease 0s;
  transition:background-color 250ms ease 0s; */
  margin: 3px;
}


/* .icon:hover{
  background-color: plum;
} */
.instagram:hover{background-color: #E1306C;}
.linkedin:hover{background-color: #0a85c7;}
.email:hover{background-color: plum;}
.github:hover{background-color: #211F1F;}

a{
  text-decoration: none;
}

.icon:hover{
  color: #fff;
  box-shadow: 3px 3px 0px #686868;
}

.icon:active{
  box-shadow: inset 0px 1px 4px #3d3d3d, 0px 0px 0px #bdbdbd;
  top: 3px;
}